/*#region Globals*/
$white: #F5F5F5;
$grey: #757575;
$black: #262626;

$green: #69F0AE;
$yellow: #FFD740;
$red: #FF5252;

$sp-blue: #2E5F9C;
$sp-brightblue: #00B0FF;
/*#endregion*/

/*#region Fonts*/
@mixin corefont() {
	font-family: "Inter", sans-serif !important;
}
@mixin titlefont() {
	font-family: "Jura", sans-serif !important;
}
/*#endregion*/

/*#region Quasar*/
$primary: $sp-brightblue;
$secondary: $sp-blue;
$accent: #9C27B0;

$dark: $black;
$dark-page: $black;

$positive: $green;
$negative: $red;
$info: $sp-brightblue;
$warning: $yellow;

$typography-font-family: "Inter", sans-serif !default;
$text-weights: (thin: 100, light: 200, regular: 400, medium: 600, bold: 800, bolder: 900) !default;
/*#endregion*/
